
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root {
  // Original Colors
  --primary-color: #102c38;
  --secondary-color: #c49c48;

  // Darker Versions
  --primary-color-darker: #091d21;
  --secondary-color-darker: #f4c543;

  // Lighter Versions
  --primary-color-lighter: #1A3B4A;
  --secondary-color-lighter: #E9CC8E;

  --white-color: #F8F8F8;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: var(--primary-color);
  height: 100vh;
  color: var(--white-color);
}

a {
  color: var(--secondary-color);
  text-decoration: none;

  &:hover {
    color: var(--secondary-color-lighter);
  }
}

li, ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.section-title {
  padding-bottom: 40px;

  h2 {
    font-size: 14px;
    font-weight: 500;
    padding: 0;
    line-height: 1px;
    margin: 0 0 5px 0;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: var(--secondary-color);

    &::after {
      content: "";
      width: 120px;
      height: 1px;
      display: inline-block;
      background: var(--secondary-color);
      margin: 4px 10px;
    }
  }

  p {
    margin: 0;
    font-size: 36px;
    font-weight: 700;
    color: var(--white-color);
  }
}

#header {
  background: rgba(12, 11, 9, 0.6);
  border-bottom: 1px solid rgba(12, 11, 9, 0.6);
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  animation: 1s ease-out forwards slideMenuDown;

  &.header-scrolled {
    top: 0;
    background: rgba(0, 0, 0, 0.85);
    border-bottom: 1px solid #37332a;
  }

  .logo {
    color: var(--white-color);
    font-size: 20px;
    margin: 0;
    padding: 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}

#hero {
  background: url('../img/hero-bg.jpg') center center no-repeat;
  background-size: cover;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding: 150px 0 100px 0;

  .overlay {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 90px;
    left: 0;
    background: var(--secondary-color);
    opacity: 0.8;
    z-index: 1;
  }

  @media (min-width: 1024px) {
    background-attachment: fixed;
  }

  @media (max-width: 992px) {
    .play-btn {
      margin-top: 30px;
    }

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .row {
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }

    .round-img {
      margin-top: 100px;
      height: 300px;
      width: 300px;
    }
  }

  @media (max-height: 500px) {
    height: auto;

    .container {
      padding-top: 130px;
      padding-bottom: 60px;
    }
  }
}

#presentation {
  background-color: var(--white-color);
  color: var(--primary-color-darker);
  text-align: justify;

  .section-title {
    h2 {
      font-weight: 600;
      color: var(--primary-color);

      &::after {
        background: var(--primary-color-darker);
      }
    }

    p {
      color: var(--primary-color-darker);
    }
  }

  p {
    font-weight: 500;
  }

  h2 {
    padding: 0;
    margin: 0;
  }
}

#accompagnements {
  background-color: var(--primary-color);
  color: var(--white-color);
  text-align: justify;
}
